@font-face{ 
	font-family: 'Montserrat';
	src: url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular-webfont.eot');
	src: url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular-webfont.woff') format('woff'),
	     url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular-webfont.ttf') format('truetype'),
	     url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular-webfont.svg#webfont') format('svg');
}

*{font-family: Montserrat;}

body {
			color: #000;
			background-color: #dcdcdc;
		}
a{
	text-decoration: none;
	color: #333;
}

img.thumb{
	max-width: 330px;
	width: 100%;
}

header nav{
	width: 100%;
	background-color: #dedede;
	position: fixed;
	height: 5em;
	padding-left: 1em;
}
header nav.navbar .menu{
	padding: 1em 0 0 0;
}
header nav.navbar .menu > ul{
	position: absolute;
	display: block;
	width: 200px;
	background-color: #333;
	top: 5em;
	height: 7em;
	color: #efefef;
	display: none;
}
header nav.navbar .menu > ul > li{
	display: block;
	width: 100%;
	padding-left: 1em;
	font-size: 1.1em;
	cursor: pointer;
}

.divider{
	border: none;
	border-right: 1px solid #000;
	width: 1px;
	height: 3em;
}
.navbar .logo{
	padding: 0;
	position: fixed;
	/*display: inline-block;*/
	margin: 0px 0px 0px 40px;
	width: 20%;
}
.navbar .logo img{
	height: 6em;
	position: relative;
	top: -0.4em;
}
.navbar .socialitem{
	text-align: right;	
}
.main{
	position: relative;
	top: 7em;
	margin: 0 20px;
	background-color: #fefefe;
}
.first-main{
	font-family: Montserrat;
	padding-top: 3px;
	font-size: 1em;
	height: 3em;
	margin: 0;
	background-color: #A526A3;
	/*background-color: rgba(96,160,234,1);*/
	/* background: rgba(10,10,10,0.8); */
	color: #fefefe;
	padding-left: 1em;
	/*margin-top: 5px;*/
	text-align: right;
	font-variant: small-caps;

	border-top: 1px solid #fff;
	/*border-bottom: 1px solid #fff;*/
}
.title1-1{
	color:#000 !important;
	font-size:0.7em;
	line-height: 0.5em;
}
.title1-2{
	font-size:1.3em;
	/*color:rgb(96,160,234) !important;*/
	color: #A526A3 !important;
	line-height: 1em;
}
.featured_image{
	height:470px;
	width: 100%;
}
.imagedetallenota{
	height:580px;
}


/*@media (max-width: 320px){
	.navbar .logo {
		width: 100px;
		height: 20px;
		}

}*/

@media (min-width: 768px) {
  .navbar li {
  	width: 14%;
  	margin-top:1em;
	}
	.socialitem{
		padding-top:-0.5em;
	}
	.hiddendesktop{display: none !important;}
}

@media (max-width: 768px) {
	.divider{display: none;}
	.socialitem{display: inline-block; float: right !important; padding: 1em;}
	header nav.navbar .menu{width: 30px;display: inline-block;}
	header nav{height: 3.5em;}
	.navbar .logo{ 
		margin: 0;
		width: 150px;
		display: inline-block;
	}
	.navbar .socialitem{text-align: right;width: 2.5em;padding-left: 5px;padding-right: 5px;display: inline-block;}
	header nav.navbar .menu > ul{
		top: 3.5em;
		height: 4em;
	}
	.featured_image{
		height:auto;
	}
	.main{top: 3.5em;}
	.hiddenmobile{display: none !important; }
	.first-main{padding-left: 0}
	.lista-2 li{
		height: 7em !important;
		padding: 0px 1em;
	}
	.lista-2 li div > div{
		width: 49% !important;
		vertical-align: middle;
		margin-bottom: 0px !important;

	}
	.title-2{
		padding-top: 0.5em;
		height: 2.8em !important;
	}
	.title1-1{
		font-size:0.5em;
	}
	.title1-2{
		font-size:0.7em;
	}
	header nav h1{padding: 0.5em 0 0 0;}
	.navbar .logo img{
		height: 4em;
	}
	footer .property-info{
		height: auto !important;
	}
	.imagedetallenota{
		height:auto;
	}

	input.buscador{
  		 margin: 1px;
  		 margin-left: -2.5em;
  		 width: 182px;
}
	
}

.title-2{
	font-family: Montserrat;
	padding-top: 5px;
	width: 100%;
	/*background-color: rgb(96,160,234);*/
	/*background:rgba(10,10,10,0.8);*/
	background-color: #A526A3;
	color: #fefefe;
	text-align: center;
	font-size: 1.5em;
	height: 1.8em;
}

.lista-1{
	list-style: none;
	height: auto;
	margin: 0;
	padding-left: 1em;
	font-family: monospace;
	font-size: 1.2em;
	/*margin-top: 5px;*/
	/*background: #FFE;*/
	/*background:rgba(10,10,10,0.5);*/
}
.lista-1 li{
	display: inline-table;
	width: 100%;
	/*background: rgba(49,167,224,.8);*/
	height: 4.5em;
	/*color: #fefefe;*/
	color: #333;
	padding: 0.5em;
}
.lista-1 li div > div {
	display: inline-block;
}
.lista-1 li div > div > img{
	display: inline-block;
	padding:20px;
}
.imgholder-container{
	position: absolute;
	margin-left: 0 !important;
	height: 0;
}
.imgholder{
	font-family: Montserrat;
	position: relative;
	height: 4em;
	bottom: 4em;
	/*background: rgba(96,160,234,0.5);*/
	background:rgba(10,10,10,0.8);
	color: #fefefe;
	font-size: 1.5em;
	line-height: 1em;
	padding: 1em;
}

.lista-2{
	font-family: Montserrat;
	list-style: none;
	height: auto;
	margin: 0;
	padding:0;
	color: #333;
	margin-top: 10px;
}
.lista-2 li{
	display: inline-table;
	height: 6.9em;
	margin: 1.5em 0;
}
.lista-2 li div > div {
	display: inline-block;
	padding:10px;
	font-size: 1.2em;
}
.lista-2 span{
	font-size: 0.8em;
	color: #666;
}

footer{
	margin-top: 7em;
	background-color: #333;
	color: #fff;
}
footer .property-info{
	/*height: 15em;*/
	height: auto;
	font-size: 1em;
	padding: 1em;
	font-variant: small-caps;
	text-align: center;
}
footer .property-info p{
	line-height: 1em;
	/*text-align: right;*/
}
footer .end{
	text-align: center;
	background: #A526A3;
}
footer h3{
	/*color:#fff;*/
}
.border-right{
	border-right: 1px dashed #fff;
	color: #333;
}
.main h1,.main h2, .main h3{
	display: inline-block;
}
.bignumber-1{
	font-size: 6em;
	display: inline-block;
	line-height: 1em;
}
.bignumber-2{
	font-size: 3.5em;
	display: inline-block;
	line-height: 1em;
}

.lista-3{
	font-family: Montserrat;
	list-style: none;
	height: auto;
	margin: 0;
	padding:0;
	color: #333;
	margin-top: 10px;
}
.lista-3 li{
	display: inline-table;
	height: 6.9em;
	padding:1em;
	width: 100%;	
	/*background: rgba(10,10,10,0.1);*/
	border-bottom: 1px dashed #999;
}
.lista-3 li .unit-50{
	margin-left: 0;
}
.lista-3 a{
	text-decoration: none;
	color: #A526A3;
}


.lista-4{
	font-family: Montserrat;
	list-style: none; ;
	height: auto;
	margin: 0;
	padding:0;
	color: #333;
	margin-top: 10px;
}
.lista-4 li{
	display: inline-table;
	height: 1em;
	padding:0;
	/*background: #fefefe;*/
	/*background: #dedede;*/
	border: none;
	width: 100%;
}
.lista-4 li > span{
	font-weight: bold;
}

.lista-5{
	font-family: Montserrat;
	list-style: none;
	height: auto;
	margin: 0;
	padding:0;
	color: #333;
	margin-top: 10px;
}
.lista-5 li{
	display: inline-table;
	height: 6.9em;
	padding:1em;
}
.lista-5 li .unit-50{
	margin-left: 0;
}
.lista-5 a{
	text-decoration: none;
	color: #333;
}

.login-form{
	margin: 2em 0;
}

.btn-control-list{
	list-style: none;
}
.btn-control-list li{
	display: inline-block;
	vertical-align: top;
}




.our-team {
	padding-bottom: 66px;
	padding-top: 100px;
	background: #FFFFFF;
}
.team-member {
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	margin-bottom: 35px;
}
.team-member .details {
	text-align: left;
	font-size: 13px;
	line-height: 20px;
	position: absolute;
	padding: 15px;
	top: -200px;
	left: 0;
	width: 100%;
	/*height: 190px;*/
	-webkit-transition: all 500ms;
	transition: all 500ms;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
.team-member .member-details {
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
}
.team-member:hover .details {
	top: 0;
	background: #333;
	color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.team-member .profile-pic {
	border-radius: 50%;
	width: 130px;
	height: 130px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 25px;
}
.team-member .profile-pic img {
	width: 100%;
	height: 100%;
}
.team-member h5 {
	text-transform: uppercase;
	color: #404040;
	font-weight: 700;
	position: relative;
}
.team-member .position {
	font-size: 13px;
	margin-top: 15px;
}
.team-member .social-icons {
	margin-bottom: 25px;
}
.team-member .social-icons ul {
	margin: 0 0 1.5em 0;
}
.team-member .social-icons ul li {
	display: inline-block;
	line-height: 32px;
	margin: 6px;
}
.our-team .row > div:nth-child(4n+1) .red-border-bottom:before{
    background: #e96656;
}
.our-team .row > div:nth-child(4n+2) .red-border-bottom:before{
    background: #34d293;
}
.our-team .row > div:nth-child(4n+3) .red-border-bottom:before{
    background: #3ab0e2;
}
.our-team .row > div:nth-child(4n+4) .red-border-bottom:before{
    background: #f7d861;
}


.login-form form{
	text-align: right;
	margin-right: 5em
}
.login-form form label{
	display: block;
	margin: 1em 0;
}
.login-form form input{
	width: 15em;
}


.redactor-editor {
    background: #f5f5f5;
}
.redactor-editor,
.redactor-editor h1,
.redactor-editor h2,
.redactor-editor h3,
.redactor-editor h4,
.redactor-editor h5,
.redactor-editor h6 {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.redactor-editor pre {
    font-size: 100%;
    background: #333;
    color: #fff;
}
.red-styled {
    color: red;
}
.blue-styled {
    color: blue;
    font-weight: bold;
}
.marked-span {
    background: yellow;
    font-family: monospace;
}
.redactor-dropdown .redactor-formatting-span-font-size-20 {
    font-size: 20px;
}
.redactor-dropdown .redactor-formatting-span-font-family-georgia {
    font-family: Georgia;
}
.redactor-dropdown .redactor-formatting-span-big-red {
    font-size: 20px;
    color: red;
}
.redactor-dropdown .redactor-formatting-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background: #f4f4f4;
}
.redactor-dropdown .redactor-formatting-mark {
    background-color: #ffc800;
    color: #0f0f0f;
}
.redactor-dropdown .redactor-formatting-span-marked-span {
    background: yellow;
    font-family: monospace;
}

form select {
	height: 2em;
	width: 98%;
}

.ffact label{
	display: table-caption;
}
.ffact label input{
	width: 600px;
}
fieldset{
	width: 95%;
}

.admin_menu{
	background: #333;
	color: #fff;
}
.admin_menu a{
	color: #fff;
}

.item-body{
	padding: 1em;
	font-size: 1.2em;
}

a:hover {
color: #A526A3;
}

.item-body a{
	color: #A526A3;
}
.item-body a:hover{
	color: #333;
}


